#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}