#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-SignIn {
  position: absolute;
  width: 375px;
  height: 812px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Bg span#rtr-t-Bg_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop {
  position: absolute;
  width: 0px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop > .paddingLayer {
  height: 88px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-BgTop span#rtr-t-BgTop_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-statusBar {
  position: absolute;
  width: 335px;
  height: 22px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_17 > svg {
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_17 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_17 > img, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_17 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_18 > svg {
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_18 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_18 > img, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_18 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_4 > svg {
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_4 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_4 > img, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Image_4 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Home_Indicator_1 > svg {
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Home_Indicator_1 > img, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 {
  position: absolute;
  width: 349px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 > .paddingLayer {
  height: 22px;
  width: 349px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 .valign {
  vertical-align: top;
  text-align: right;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Paragraph_16 span#rtr-t-Paragraph_16_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 {
  position: absolute;
  width: 78px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_1 span#rtr-t-Button_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/e9683665-8476-4c40-ab7f-91aa342c1ac6.jpeg');
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 {
  position: absolute;
  width: 78px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_2 span#rtr-t-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/c3d21304-fb7e-4f4c-94e7-c509d6c940c7.jpg');
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 {
  position: absolute;
  width: 78px;
  height: 29px;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_3 span#rtr-t-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 {
  position: absolute;
  width: 78px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 > .paddingLayer {
  height: 29px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_4 span#rtr-t-Button_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/dc52dac0-5128-4d4e-8588-90170b5a7c7d.png');
  box-shadow: none;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 {
  position: absolute;
  width: 67px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 > .clipping, #t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 > .paddingLayer {
  height: 29px;
  width: 67px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 #t-Button_5 span#rtr-t-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-1dc17ab3-368b-4636-8e55-2787e50ecc78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}