#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Footer-base {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse_272 {
  stroke-width: 10px;
  stroke: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse_273 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Header-base {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-TopBots {
  border-collapse: separate;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Options {
  border-collapse: separate;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_2 > .valign {
  vertical-align: bottom;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-timelapse-label {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_6 > .valign {
  vertical-align: bottom;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Slomo-label {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_9 > .valign {
  vertical-align: bottom;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Video-label {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_11 > .valign {
  vertical-align: bottom;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Photo-label {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Cell_13 > .valign {
  vertical-align: bottom;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Square-label {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}