#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Footer-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Header-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-timelapse-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Slomo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Ellipse {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Video-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Photo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Square-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1e10433f-e69c-40ae-b4ab-b89a456d3506 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}