#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Table_1 {
  border-collapse: separate;
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-75bea9e6-7374-49a3-a39f-7d6eb5538daa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}