#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-BgTop {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8bf714ff-bd7d-4b0e-9350-e2b7f0fd173c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}