#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-fill {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-stroke {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-fill_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-stroke_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(270.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(314.0deg);
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(314.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9ee7653c-962c-41f2-a31a-3a9d1264a45e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}