#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-BgTop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Table_1 {
  border-collapse: separate;
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c379e245-519a-4752-af3a-484fdc23ed0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}